<!DOCTYPE html>
<html>
    <head>
        
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
		 <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js"></script>
        <script>

            $(function() {
                var Profile = Backbone.Model.extend();

                var ProfileList = Backbone.Collection.extend({
                    model: Profile,
                    url: 'profiles.json'
                });   

                var ProfileView = Backbone.View.extend({
                    el: "#profiles",
                    template: _.template($('#profileTemplate').html()),
					
					events: {
                        "click .show-more-profiles":          "renderMoreProfiles"
                    },

					renderMoreProfiles: function(e) {
						
						var id = $(e.currentTarget).data("id");
						var status = $("#moreinfo_" + id).css("display");

						if (status == "none")
						{
							$("#moreinfo_" + id).css("display", "block");
						} else {
							$("#moreinfo_" + id).css("display", "none");
						}

					},

                    render: function(eventName) {
                        _.each(this.model.models, function(profile){
                            var profileTemplate = this.template(profile.toJSON());
                            $(this.el).append(profileTemplate);
                        }, this);

                        return this;
                    }
                });

                var profiles = new ProfileList();    
                var profilesView = new ProfileView({model: profiles});
                profiles.fetch();
                profiles.bind('reset', function () {
                    profilesView.render();
                });

            });
        </script>
        <title>My Test App33333333333333333333</title>
    </head>
	<style>
		#profiles {
			border: 1px solid black;
		}

		.profile {
			border-bottom: 1px solid black;
			padding:10px;
		}

		.moreinfo {
			display: none;
		}
	</style>
    <body>
        <div id="profiles"></div>

        <script id="profileTemplate" type="text/template">
            <div class="profile">
                <div class="info">
                    <div class="MageOrderentity_id">
                        <%= MageOrderentity_id %>
                    </div>
					<div class="show-more-profiles" data-id="<%= MageOrderentity_id %>">
			           <a href="javascript:void(0)" >Show&nbsp;More</a>
		            </div>
				</div>				
				<div class="moreinfo" id="moreinfo_<%= MageOrderentity_id %>">
                    <div class="MageOrderincrement_id">
                        <%= MageOrderincrement_id %>
                    </div>
                    <div class="MageOrdersubtotal">
                        <%= MageOrdersubtotal %>
                    </div>
					<div class="MageOrdergrand_total">
                        <%= MageOrdergrand_total %>
                    </div>
					<div class="MageOrderstate">
                        <%= MageOrderstate %>
                    </div>
                </div>
            </div>

        </script>
    </body>
</html>
